body{
    background-color: #343434;
    min-height: 100vh;
    margin: 0;

}
header{
    background-color: #4e4e4e;
    min-height: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;

}

main{
    display: flex;
    margin-top: 80px;
    margin-bottom: 55px;
    align-items: center;
    position: center;
    flex-direction: column;
    justify-content: space-evenly;
}
footer:hover{
    height: 150px;
}
footer{
    background-color: #4e4e4e;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: fixed;
    bottom: 0;
    widtH:100%;
    height: 45px;
    transition: height 1s;
}
nav{
    text-decoration: none;
    color: darkgrey;

}
