:root {
    font-size: 16px;
    font-family: Helvetica;
}
body{
    background-color: #343434;
    margin: 0;
}
header {
    height: 70px;
}
header nav{
    background-color: #4e4e4e;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 1;
}

main{
    display: flex;
    margin-top: 0px;
    margin-bottom: 55px;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
#footerTilPc:hover{
    height: 150px;
}
#footerTilPc{
    background-color: #4e4e4e;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: fixed;
    bottom: 0;
    widtH:100%;
    height: 45px;
    transition: height 1s;
    color: beige;
    padding: 5px;
}
#footerTilMobil{
    background-color: #4e4e4e;
    display: grid;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr 1fr;
    position: fixed;
    bottom: 0;
    widtH: 100%;
    height: 150px;
    color: beige;
    padding: 5px;
}
nav{
    text-decoration: none;
    color: darkgrey;

}
#forside{
    position: static;
}

#bakgrunnsbilde{
    width: 98vw;
    height: 500px;
    object-fit: cover; /*  Kilde: https://www.digitalocean.com/community/tutorials/css-cropping-images-object-fit */
    filter: blur(3px);
    -webkit-filter: blur(3px);
}
#velkommenTxt{
    border: 3px solid beige;
    background-color: #343434;
    background: rgba(0, 0, 0, 0.5);
    font-size: 80px;
    height: 200px;
    width: 90%;
    position: absolute;
    color: beige;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    text-align: center;
    line-height: 2.5;
    border-radius: 20px;
}
#omOss {
    color: beige;
    text-align: center;
    width: 80%;
}
#omOss h3 {
    font-size: 40px;
}

#bookEvent{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#registrerButton{
    background-color: rosybrown;
    width: 200%;
}
@media (max-width: 1100px){
    #bookEvent{
        display: grid;
        grid-template-columns: 1fr;
    }
    #registrerButton{
        width: 100%;
    }
}
.booking{

    -moz-box-sizing: content-box; /* Kilde: https://www.geeksforgeeks.org/how-to-make-input-and-select-elements-to-be-same-width/ */
    -webkit-box-sizing:content-box; /* Kilde: https://www.geeksforgeeks.org/how-to-make-input-and-select-elements-to-be-same-width/ */
    box-sizing: border-box;

    border: 2px solid saddlebrown;
    width: 500px;
    height: 50px;
    font-size: 20px;
    background-color: beige;
    text-align: center;
    margin: 2px;
}

.sammenkomst{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 300px;
    background-color: rgb(40, 40, 40);
    color: beige;
    margin-bottom: 100px;
}

.sammenkomst p{
    width: 400px;
    font-size: 25px;
    display: block;
    margin: auto;
}
.sammenkomstImg{
    display: block;
    border: rosybrown 3px solid;
    margin: auto;
    height: 200px;
}
#eventStorTxt{
    color: beige;
}
#storSammenkomstTxt{
    text-align: right;
}-/* ------------Her er css for menysiden--------------*/
html{
    scroll-behavior: smooth;
.måltider {
    margin: 0 auto;
    width: 700px;
    gap: 5px solid saddlebrown;
    background-color: sandybrown;
}
#menyside{
    text-align: center;
}
.sider{
    height: 600px;
    width: 100%;
    overflow: hidden;
}
.sider:nth-of-type(even){
    background-color: darkgray;
}
#første{
.salgsvare {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-content: center;
}
/* Her er en del av linjene lært og delvis kopiert (men tilpasset eget behov
fra denne nettsiden: https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l*/
.matmeny{
    border-collapse: collapse;
    background-color: white;
    margin: 2em 2em;
    min-width: 80vw;
    text-align: left;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px grey;
}
.matmeny thead tr{
    background-color: #092c3e;
    color: #fff;
    font-weight: bold;

}
.matmeny th,
.matmeny td{
    padding: 12px 15px;
}
.matmeny tbody tr{
    border-bottom: 1px solid #dddddd;
}
.matmeny tbody tr:nth-of-type(even){
    background-color: lightgrey;
    grid-template-columns: 1fr 1fr;
    width: auto;
    min-height: 55px;
    border-bottom: 2.5px solid saddlebrown;
    border-top: 2.5px solid saddlebrown;
}
.matmeny tbody tr:last-of-type{
    border-bottom: 2px solid #092c3e;
.pris {
    float: right;
    text-align: right;
}
#dessert{

.måltidsnavn {
    text-align: center;
}
#kaffe{

*/
#menykropp{
    background-color: #c4923e;
}
#menyside #menymeny{
#menyside div{
    font-size: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    align-items: center;
    position: relative;
    bottom: 60%;
}
#menyside p{
    font-size: 4rem;
    font-size: 50px;
}
#menyside div a{
    background-color: #965015;
    text-decoration: none;
    color: darkgray;
    border-radius: 0.5em;
    color: #3B1C0A;
    border-radius: 1rem;
    text-align: center;
    display: grid;
    padding: 0.25em 0.5em;
    border: darkgray 4px solid;
    box-shadow: inset 0 0 0.2em darkgray, 0 0 0.2em darkgray;
    position: relative;
    transition: 0.3s;
}
#menyside div a:hover{
    color: black;
    background-color: darkgray;
    padding: 30px;
}

#menyside div a::before{
    pointer-events: none;
    content:'';
    position: absolute;
    background: darkgray;
    top: 90%;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;

    transform: perspective(1.7em) rotateX( 40deg)
    scale(1, 0.35);
    filter: blur(1em);
#menyside div a:hoover{
    text-decoration-color: black;
}
#menyside div a:hover::before{
    pointer-events: none;
    content:'';
    position: absolute;
    background: darkgray;
    top: 90%;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3 ;

    transform: perspective(1.7em) rotateX( 40deg)
    scale(1, 0.35);
    filter: blur(1em);
@media (max-width: 600px) {
    #menyside body {
        background-color: lightblue;
    }
}
/* --------------------------------------------------- */