header{
    background-color: #4e4e4e;
    min-height: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;

}
body{
    background-color: #343434;
    min-height: 100vh;
    margin: 0;
}
footer{
    background-color: #4e4e4e;
    min-height: 55px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    widtH:100%;
    height: 110px;
    transition: height 1s;
}
footer:hover{
    height: 200px;
}
nav{
    text-decoration: none;
    color: darkgrey;

}
#bakgrunnsbilde{
    width: 100vw;
    height: 500px;
    object-fit: cover; <!-- Kilde: https://www.digitalocean.com/community/tutorials/css-cropping-images-object-fit -->
    filter: blur(3px);
    -webkit-filter: blur(3px);
}
#velkommenTxt{
    border: 3px solid beige;
    background-color: #343434;
    background: rgba(0, 0, 0, 0.5);
    font-size: 80px;
    height: 200px;
    width: 800px;
    position: absolute;
    color: beige;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    text-align: center;
    line-height: 2.5;
    border-radius: 20px;
}
