header{
    background-color: #4e4e4e;
    min-height: 50px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    position: center;
    padding: 10px 10px;
    width: 100%;
    height: 70px;

}
body{
    background-color: #343434;
    min-height: 100vh;
    margin: 0;
}
footer{
    background-color: #4e4e4e;
    min-height: 55px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    widtH:100%;
    height: 110px;
}
nav{
    text-decoration: none;
    color: darkgrey;

}
