/*Extra small devices (phones, 767px and down)*/
@media only screen and (max-width: 767px) {
    header{
        height: 2px;
    }

    header nav{
        visibility: hidden;
    }
    #sidebarKnapp{
        position: fixed;
        z-index: 1;
    }

        .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
    }

    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: beige;
        display: block;
        transition: 0.3s;
    }

    .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
    }
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
    main {
        display: flex;
        margin-top: 0px;
        margin-bottom: 150px;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }



    #footerTilMobil {
        visibility: visible;
    }
    #footerTilPc{
        visibility: hidden;
    }
    .booking{
        width: 300px;
        font-size: 15px;
    }
    .sammenkomst{
        width: 400px;
        height: 200px;
    }
    .sammenkomst p{
        width: 200px;
        font-size: 10px;
    }
    .sammenkomstImg{
        height: 100px;
    }
    #velkommenTxt{
        width: 90%;
        font-size: 30px;
        border-radius: 10px;
        height: 70px;
    }
}


/*Medium devices (landscape tablets, from 767px and up)*/
@media only screen and (min-width: 768px) {
    #logoen{
        visibility: hidden;
    }
    #sidebar{
        visibility: hidden;}
    #sidebarKnapp{
        visibility: hidden;
    }
    #footerTilMobil{
        visibility: hidden;
    }
    .sider{
        padding-top: 70px;
    }
}