* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 20px;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(bilderOgDiv/computer.jpg);
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    font-size: 40px;
    color: white;
    font-family: Helvetica, sans-serif;
    text-align: center;

  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .column {
    width: 50%;
    margin-left: 25%;
  }

  p {
    line-height: 2;
  }

  .heading {
    font-size: 35px;
    text-align: center;
    font-family: Helvetica, sans-serif;
  }
  


  img {
    width: 100%;
    height: auto;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 25px;
  }
  
  
  /* Footer */
  .footer {
    padding: 20px;
    background: #ddd;
    margin-top: 20px;
    border-radius: 25px;
    line-height: 2;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .column {
      width: 100%;
      padding: 0;
      margin-left: 0%;
    }
  }
