
* {
    box-sizing: border-box;
  }
  
  body {
    padding: 20px;
    background: linear-gradient(180.2deg, rgb(7, 44, 81) 6.8%, rgb(0, 0, 0) 131%);
  }

  

  .logo {
    width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  

  .header {
    font-size: 35px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;

  }
  
  .column {
    width: 50%;
    margin-left: 25%;
  }

  .intro{
    color: white;
    margin-bottom: 50px;  
  }

  p {
    line-height: 2;
    font-family: Arial;
  }

  .heading {
    font-size: 35px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  
    img {
    width: 100%;
    height: auto;
  }
  
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 25px;
  }
  
  
  .footer {
    padding: 20px;
    background: #ddd;
    margin-top: 20px;
    border-radius: 25px;
    line-height: 2;
    font-family: 'Montserrat', sans-serif;
  }
  
  @media screen and (max-width: 800px) {
    .column {
      width: 100%;
      padding: 0;
      margin-left: 0%;
    }
  }
